* {
  margin: 0;
  padding: 0;
  text-decoration-line: none;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  line-height: 1.7;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}
ul {
  display: flex;
}
nav a {
  color: rgb(22, 21, 21);
  margin-right: 20px;
}
.image-back {
  height: 500px;
  background-repeat: no-repeat;
  background-image: url('./starter-code/img/slider-1.jpg');
  filter: grayscale(50%);
  background-size: cover;
}
.section-header {
  background-color: #ed564b;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: white;
  padding: 15px;
}
.no-logo {
  width: 20%;
  filter: invert(100%);
  padding: 15px;
}

.section-article,
.section-project {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: rgb(53, 53, 53);
  padding: 15px;
}
.title-article {
  font-weight: 600;
  text-align: left;
  line-height: normal;
  padding: 15px 14px;
}

p.text-article {
  line-height: normal;
  text-align: left;
  font-size: smaller;
  padding: 0 15px;
}

.main {
  margin: 20px 150px;
}

h5 {
  color: gray;
}
.img-main {
  width: 85%;
  padding: 15px;
}
.info-foot {
  background-color: #3b3b3b;
  display: flex;
  justify-content: space-evenly;
  text-align: left;
  color: rgba(255, 255, 255, 0.699);
  padding: 15px;
}
.copy-foot {
  background-color: rgba(59, 59, 59, 0.678);
  color: white;
  text-align: center;
  padding: 10px 0;
}
hr {
  border: 2px solid cadetblue;
}
.info-foot hr {
  border: 1px solid #ed564b;
}
